html {
	font-size: 50px;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.top {
	height: 1.28rem;
}

.top p {
	font-size: .36rem;
	text-align: center;
	line-height: 1.28rem;
	font-weight: bold;
}

.return {
	float: left;
	width: 7%;
	height: 100%;
}

.return img {
	width: 48%;
	height: 27.3%;
	padding-top: .48rem;
	padding-left: .8em;
	vertical-align: top;
}

.content {
	margin-left: .3rem;
	margin-right: .3rem;
	margin-top: 1.1rem;
}

.content-top img {
	width: 2rem;
	padding-left: 2.45rem;
}

.content-top p {
	text-align: center;
	padding-top: .55rem;
	padding-bottom: .55rem;
	font-size: .4rem;
	font-weight: bold;
}

.center p {
	font-size: .26rem;
	color: rgb(135, 135, 135);
	text-align: center;
	line-height: .4rem;
	margin-left: .45rem;
	margin-right: .45rem;
	margin-bottom: .1rem;
}

.center button {
	width: 6.9rem;
	height: .85rem;
	border: none;
	border-radius: 5px;
	background: rgb(9, 187, 7);
	color: #FFFFFF;
	font-size: .3rem;
}

.bottom {
	margin-top: 4.5rem;
	overflow: hidden;
}

.bottom-left {
	float: left;
	width: 3.4rem;
	color: rgb(87, 107, 149);
	text-align: right;
	font-size: .26rem;
	padding-left: .2rem;
}

.bottom-left a {
	font-size: .26rem;
	color: rgb(87, 107, 149);
}

.bottom-right {
	float: right;
	width: 3.2rem;
	color: rgb(87, 107, 149);
	font-size: .26rem;
	padding-left: .1rem;
}

.bottom-right a {
	font-size: .26rem;
	color: rgb(87, 107, 149);
}

.split {
	margin-left: .1rem;
	margin-right: .1rem;
}
