@import "base.css";
/*导入样式表*/
html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }


.search{
    padding:0.17rem 0.22rem;
    height: 0.6rem;
    display: flex;
    justify-content: space-around;
    background: red;
}
.search > a{
    display: inline-block;
    width: 5.55rem;
    height: 0.6rem;
    background: white;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: #000;
    line-height: 0.6rem;
    padding-left: 0.2rem;
}
.search span{
    width: 0.5rem;
    height: 0.5rem;

}

.san{
    padding:0 0.22rem;
    height: 0.6rem;
    display: flex;
    justify-content: space-around;
    background: red;
}
.san > span{
    /*width: 1.2rem;
    height: 0.6rem;*/
    line-height: 0.6rem;
    /*background: white;*/
    color: black;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}



.wutu{
    height: 2.5rem;
    padding:0.06rem 0.22rem;
    display: flex;
    justify-content: space-around;
}
.wutu > span{
    height: 2.5rem;
}
.wutu > span > img{
    width: 100%;
    height: 100%;
}


.tuijian{
    height: 1.2rem;
    display: flex;
    padding:0.17rem 0.22rem;
    /*margin: 0 0.4rem;*/
}
.tuijian > .tui{
    display: inline-block;
    padding:0.17rem 0.32rem;
    /*margin: 0.5rem;*/
}
.tui > .le{
    float: left;
}
.le > .one{
    color: #000;
    font-size: 0.36rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}
.le > .two{
    color: rgba(0,0,0,0.5);
}
.tui > .ri{
    float: right;
    width: 1.2rem;
    height: 100%;
    margin: 0 0.2rem;
}
.ri > img{
    width: 100%;
    height: 100%;
}
.an{
    float: left;
}
.bn{
    float: right;
}




.title{
    padding:0.17rem 0.22rem;

}
.title > p{
    color: #000;
    font-size: 0.34rem;
    font-weight: bold;
    /*background: #b9def0;*/
    float: left;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.title img{
    width: 100%;
    height: 4rem;
    margin-bottom: 0.4rem;
}
